<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- 控制台打印输出-->
    <appender name="LOG.Console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%-5p] %c{2} - %m%n"/>
        </layout>
    </appender>
    <!-- ===================================================================== -->
    <!--					Root logger 配置								   -->
    <!-- ===================================================================== -->
    <root>
        <appender-ref ref="LOG.Console"/>
    </root>

</log4j:configuration>